body {
    font-family: arial;
 }

.gluten{
    font-weight:bold;
}

.menu{
    background-color: black;
    color: azure;
    margin-left: 2em;
    padding-left: 1em;
    border: dashed;
}

button{
    margin-left: 2.5em;
    margin-bottom: 1em;
}

button:hover{
    background-color: black;
    color: azure;
    cursor: pointer;
}

.heading{
    margin-left: 2em;
    height: 15em;
    overflow: hidden;
    margin-bottom: 1em;
}

.image{
    opacity: 0.7;
    width: 100%;
    height: auto;
}

.heading h1{
    position: absolute;
    color: black;
    padding-left: 33%;
    padding-top: 5%;
    z-index: 1;
}

.form{
    margin-top: 1em;
    margin-left: 2em;
    padding-left: 1em;
    padding-bottom: 0.5em;
    margin-bottom: 2em;
    border: dashed;
}

.wrapper{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 15% 15% 15%;

}

.wrapper img{
    height: 45%;
}

.a{
    grid-column: 1;
}

.b{
    grid-column: 2;
}

.c{
    grid-column: 3;
}